<table border = "1">

    <tr>
        <th title="City">City</th>
        <td>{{this.name}}</td>
        </tr>
        <tr>
        <th title="Description">Description</th>
        <td>{{this.weather.0.description}}</td>
        </tr>
        <tr>
        <th title="Current Temperature">Current Temperature</th>
        <td>{{this.main.temp}}</td>
        </tr>
        <tr>
        <th title="Maximum Temperature">Maximum Temperature</th>
        <td>{{this.main.temp_max}}</td>
        </tr>
        <tr>
        <th title="Minimum Temperature">Minimum Temperature</th>
        <td>{{this.main.temp_min}}</td>
        </tr>
        <tr>
        <th title="Pressure">Pressure</th>
        <td>{{this.main.pressure}}</td>

        </tr>
        <tr>
        <th title="Humidity">Humidity</th>
        <td>{{this.main.humidity}}</td>

        </tr>
        <tr>
        <th title="Visibility">Visibility</th>
        <td>{{this.visibility}}</td>

        </tr>
    
</table>